project:
  type: website
  output-dir: docs

website:
  title: "Insurance Claims Analysis"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Project Details
      - href: eda.qmd
        text: Exploratory Analysis
      - href: model.qmd
        text: Model & Results

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true